*
{
    margin: 20px;
    /* background-image: url(../sanju-pandita-VInpvvzmWeU-unsplash.jpg); */
}
/* 
body{
    background-color: aqua;
     background: url(../sanju-pandita-VInpvvzmWeU-unsplash.jpg);
     background-size: contain;
   
} */

.head1
{
    height: 10vh;    
    font-size: 24px;
    display: flex;
    color: aliceblue;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(228, 203, 192); */
    border: 2px solid rgb(226, 214, 214);
    border-radius: 20px;

}
.main
{
    display: flex;
    height: 80vh;
    color: aliceblue;
    
}
.main-form
{
    
    width: 65%;
    border: 1.5px solid rgb(231, 231, 231);
    border-radius: 10px;
    margin-right: 0%;
}
.main-list
{
    
    width: 35%;
    border: 1.5px solid rgb(238, 229, 229);
    border-radius: 10px;
}