<div class="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

</div>  
<div class="head1">
  <h1>Stock Management System</h1>
</div>
<div class="main">
  <!-- <div class="container"> -->
    <div class="main-form">
      
                     <form #myForm="ngForm">
                        <div class="form-group">
                            <label for="Employee Id">
                               AC Name
                            </label>
                            <input type="text" 
                                   class="form-control" 
                                   name="Id" 
                                   #Id="ngModel" ngModel
                                   pattern="[A-Z-a-z]+"
                                   required
                                    />
                        </div>
                           <div *ngIf="Id.touched">
                            <div *ngIf="Id.errors?.['required']">
                              <b style="color: rgb(240, 230, 230);">Required</b>
                            </div>
                            <div *ngIf="Id.errors?.['pattern']">
                               <font color="white">Invalid Name</font>
                            </div>
                           </div>
                        <div class="form-group">
                            <label for="Employee Name">
                               AC Rate
                            </label>
                            <input type="text" 
                                   class="form-control" 
                                   name="rate" 
                                   #rate="ngModel" ngModel
                                  required
                                  pattern="[0-9]+"
                                   />
                        </div>
                        <div *ngIf="rate.touched">
                          <div *ngIf="rate.errors?.['required']">
                            <b style="color: rgb(230, 221, 221);">Required</b>
                          </div>
                          <div *ngIf="rate.errors?.['pattern']">
                             <font color="white">Invalid value</font>
                          </div>
                         </div>
                        <div class="form-group">
                            <label for="Employee Salary">
                               Count
                            </label>
                            <input type="text" 
                                   class="form-control" 
                                   name="count" 
                                   #count="ngModel" ngModel
                                   required
                                   pattern="[0-9]+"
                                   />
                        </div>
                        <div *ngIf="count.touched">
                          <div *ngIf="count.errors?.['required']">
                            <b style="color: rgb(233, 222, 222);">Required</b>
                          </div>
                          <div *ngIf="count.errors?.['pattern']">
                             <font color="white">Invalid value</font>
                          </div>
                         </div>                      
                        <button class="btn btn-success" (click)="insertstock(myForm.value)">
                            Insert 
                        </button>
                    &nbsp;&nbsp;
                        <button class="btn btn-primary" (click)="updatestock(myForm.value)" >
                            Update 
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-danger" (click)="deletestock(myForm.value)" >
                            Delete 
                        </button>&nbsp;&nbsp;
                        <button class="btn btn-warning"  (click)="findstock(myForm.value)">
                            Find 
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-info"  (click)="findallstock(myForm.value)">
                            Show
                        </button>
                    </form>  
                     <h4 align="center">{{result}}</h4>   
                </div>
            
            
            <div class="main-list">
              <h2 align="center">AC LISTS</h2>
               <hr>
             <div class="" style="width: 80%;" *ngIf="flag">
             <table width="40%" align="center" class="table table-border">
                 <tr> <th>AC Name </th> <th>AC Rate</th> <th>Ac Count</th></tr>
                 <tr *ngFor="let emp of Arr">
                       <td>{{emp.id}} </td> <td>{{emp.rate}}</td><td>{{emp.count}}</td>
                 </tr>
             </table>
            
          </div>
        </div>
         
        
    
 
</div>  
<!-- <div class="">
        <a href="" routerLink="home">Home</a>
        <a href="" routerLink="about">About</a>
        <a href="" routerLink="contact">contact</a>
        <router-outlet></router-outlet> -->
      <!-- Addition:  <p>{{sum}}</p>
      <app-about></app-about> -->